<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="alert alert-danger d-flex align-items-center" role="alert">
      <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" aria-label="Danger:"></i>
      <p class="alert-heading"> <%= message %> </p>
    </div>
  </div>
  

